<!-- Floating icon  -->
        <a href="#" class="discord-float" target="_blank" aria-label="Join us on Discord">
            <i class="ri-discord-fill"></i>
        </a>



<footer class="footer">
        <div class="footer-container">
            <!-- Brand Section -->
            <div class="footer-column footer-brand">
                <img src="./images/logo.png" class="footer-logo" alt="Moonchad Logo" />
                <p class="footer-description">
                    Moonchad is building the future of decentralized rewards.
                    From community-powered airdrops to investor growth and creative gifts,
                    we’re redefining how value is shared across the Web3 space.
                </p>
                <div class="social-icons">
                    <a href="#" class="social-icon">
                        <i class="ri-discord-fill"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="ri-twitter-fill"></i>
                    </a>
                    <a href="#" class="social-icon">
                        <i class="ri-youtube-fill"></i>
                    </a>
                    <a href="https://t.me/moonchadtoken" class="social-icon">
                        <i class="ri-telegram-fill"></i>
                    </a>
                </div>
            </div>

            <div class="footer-hold">
                <!-- Partnerships Column -->
                <div class="footer-column">
                    <h3 class="footer-title">Open to Partner</h3>
                    <ul class="footer-links">
                        <li><a href="#">Github</a></li>
                        <li><a href="#">Twitter</a></li>
                        <li><a href="#">Photon</a></li>
                        <li><a href="#">Phantom</a></li>
                    </ul>
                </div>

                <!-- Information Column -->
                <div class="footer-column">
                    <h3 class="footer-title">Explore</h3>
                    <ul class="footer-links">
                        <li><a href="#">Log in</a></li>
                        <li><a href="/roadmap">Roadmap</a></li>
                        <li><a href="#">Tokenomics</a></li>
                        <li><a href="#">Airdrop Details</a></li>
                    </ul>
                </div>

                <!-- Resources Column -->
                <div class="footer-column">
                    <h3 class="footer-title">Resources</h3>
                    <ul class="footer-links">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Docs</a></li>
                        <li><a href="#">Press Kit</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>