<!-- Header big screen -->
    <header data-aos="fade-down" class="big">
        <nav>
            <a href="/" class="logo-contain">
                <img src="./images/logo.png" alt="logo" class="logo">
            </a>

            <ul class="nav-links">
                <li><a href="#how-we-work">How we Works</a></li>
                <li><a href="#our-mission">Our Mission</a></li>
                <li><a href="/roadmap">Roadmap</a></li>
                <li><a href="#reward-ratio">Our Reward Ratio</a></li>
            </ul>

            <div class="auth-buttons">
                <a href="/auth/twitter">
                    <button class="btn-signin">Connect your X Account</button>
                </a>
            </div>
        </nav>
    </header>


    <!-- Header small screen -->
    <nav class="mobile-nav small">
        <div class="nav__logo">
            <a href="/"><img src="images/logo.png" alt="logo"></a>
        </div>

        <!-- Hamburger Icon -->
        <div class="hamburger" id="menu-toggle" aria-label="Open menu">
            <i class="ri-menu-3-line"></i>
        </div>

        <!-- Sliding Menu -->
        <div class="hold3" id="mobile-menu">
            <div class="hamburger" id="menu-close" aria-label="Close menu">
                <i class="ri-close-line"></i>
            </div>

            <ul class="nav-links">
                <li><a href="/roadmap">Roadmap</a></li>
                <li><a href="#our-mission">Our Mission</a></li>
                <li><a href="#how-we-work">How we Works</a></li>
                <li><a href="#reward-ratio">Our Reward Ratio</a></li>
            </ul>

            <div class="auth-buttons">
                <a href="/auth/twitter">
                    <button class="btn-signin">Connect your X Account</button>
                </a>
            </div>
        </div>
    </nav>